<!DOCTYPE html>
<html lang="en">
  <!--begin::Head-->
  <head>
    <base href="../../../" />
    <meta charset="utf-8" />
    <title>Keen | Add User</title>
    <meta name="description" content="Add user example" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--begin::Fonts-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
    />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link
      href="assets/css/pages/wizard/wizard-4.css"
      rel="stylesheet"
      type="text/css"
    />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link
      href="assets/plugins/global/plugins.bundle.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/plugins/custom/prismjs/prismjs.bundle.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    <style>
      /* Chrome, Safari, Edge, Opera */
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
    </style>
    <script src="./custom/login_shield.js"></script>
    <script defer src="./custom/role.js"></script>
  </head>
  <!--end::Head-->
  <!--begin::Body-->
  <body
    id="kt_body"
    class="header-mobile-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading"
  >
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile">
      <!--begin::Logo-->
      <a href="index.html">
        <img
          alt="Logo"
          src="assets/media/logos/logo-2.svg"
          class="max-h-30px"
        />
      </a>
      <!--end::Logo-->
      <!--begin::Toolbar-->
      <div class="d-flex align-items-center">
        <button
          class="btn btn-icon btn-icon-white btn-hover-icon-white"
          id="kt_aside_mobile_toggle"
        >
          <span class="svg-icon svg-icon-xxl">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24" />
                <rect
                  fill="#000000"
                  x="4"
                  y="4"
                  width="7"
                  height="7"
                  rx="1.5"
                />
                <path
                  d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
                  fill="#000000"
                  opacity="0.3"
                />
              </g>
            </svg>
            <!--end::Svg Icon-->
          </span>
        </button>
        <!--begin::Topbar Mobile Toggle-->
        <button
          class="btn btn-icon btn-icon-white btn-hover-icon-white ml-1"
          id="kt_header_mobile_topbar_toggle"
        >
          <span class="svg-icon svg-icon-xl">
            <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24" />
                <path
                  d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                  fill="#000000"
                  fill-rule="nonzero"
                  opacity="0.3"
                />
                <path
                  d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                  fill="#000000"
                  fill-rule="nonzero"
                />
              </g>
            </svg>
            <!--end::Svg Icon-->
          </span>
        </button>
        <!--end::Topbar Mobile Toggle-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Header Mobile-->
    <!--begin::Aside-->
    <div class="aside aside-left aside-fixed" id="kt_aside">
      <!--begin::Aside Brand-->
      <div class="aside-brand h-80px px-7 flex-shrink-0">
        <!--begin::Logo-->
        <a href="/" class="aside-logo">
          <img
            alt="Logo"
            src="/assets/media/logos/logo-2.svg"
            class="max-h-40px"
          />
        </a>
        <!--end::Logo-->
        <!--begin::Toggle-->
        <button
          class="aside-toggle btn btn-sm btn-icon-white px-0"
          id="kt_aside_toggle"
        >
          <span class="svg-icon svg-icon svg-icon-xl">
            <!--begin::Svg Icon | path:/assets/media/svg/icons/Text/Toggle-Right.svg-->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M22 11.5C22 12.3284 21.3284 13 20.5 13H3.5C2.6716 13 2 12.3284 2 11.5C2 10.6716 2.6716 10 3.5 10H20.5C21.3284 10 22 10.6716 22 11.5Z"
                  fill="black"
                />
                <path
                  opacity="0.5"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14.5 20C15.3284 20 16 19.3284 16 18.5C16 17.6716 15.3284 17 14.5 17H3.5C2.6716 17 2 17.6716 2 18.5C2 19.3284 2.6716 20 3.5 20H14.5ZM8.5 6C9.3284 6 10 5.32843 10 4.5C10 3.67157 9.3284 3 8.5 3H3.5C2.6716 3 2 3.67157 2 4.5C2 5.32843 2.6716 6 3.5 6H8.5Z"
                  fill="black"
                />
              </g>
            </svg>
            <!--end::Svg Icon-->
          </span>
        </button>
        <!--end::Toolbar-->
      </div>
      <!--end::Aside Brand-->

      <!--begin::Aside Menu-->
      <div
        id="kt_aside_menu"
        class="aside-menu my-5"
        data-menu-vertical="1"
        data-menu-scroll="1"
        data-menu-dropdown-timeout="500"
      >
        <!--begin::Menu Nav-->
        <ul class="menu-nav">
          <li class="menu-section">
            <h4 class="menu-text">MENU</h4>
            <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
          </li>
          <li id="aside_admin_menu" class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" hidden>
						<a href="javascript:;" class="menu-link menu-toggle">
							<span class="svg-icon menu-icon">
								<!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Box2.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <polygon points="0 0 24 0 24 24 0 24"/>
                      <path d="M9.89442719,16.9422697 L8.10557281,16.0478425 C9.18098918,13.8970098 11.7963808,13.0252125 13.9472136,14.1006289 C14.7898516,14.5219479 15.4731082,15.2052045 15.8944272,16.0478425 L14.1055728,16.9422697 C13.8777812,16.4866865 13.5083696,16.1172749 13.0527864,15.8894833 C11.8899107,15.3080454 10.4758651,15.7793939 9.89442719,16.9422697 Z M21.9058667,8.11925961 C22.4393328,8.26220142 22.7559153,8.81053838 22.6129734,9.34400448 L20.9657703,15.4914504 C20.8228285,16.0249165 20.2744915,16.341499 19.7410254,16.1985572 C19.2075593,16.0556153 18.8909768,15.5072784 19.0339186,14.9738123 L20.6811218,8.82636639 C20.8240636,8.29290029 21.3724006,7.9763178 21.9058667,8.11925961 Z M2.09413334,8.11925961 C2.62759945,7.9763178 3.1759364,8.29290029 3.31887821,8.82636639 L4.87179248,14.6219213 C5.0147343,15.1553875 4.69815181,15.7037244 4.1646857,15.8466662 C3.6312196,15.989608 3.08288264,15.6730255 2.93994083,15.1395594 L1.38702656,9.34400448 C1.24408475,8.81053838 1.56066724,8.26220142 2.09413334,8.11925961 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                      <path d="M6.5,20 C4.01471863,20 2,17.9852814 2,15.5 C2,13.0147186 4.01471863,11 6.5,11 C8.98528137,11 11,13.0147186 11,15.5 C11,17.9852814 8.98528137,20 6.5,20 Z M17.5,20 C15.0147186,20 13,17.9852814 13,15.5 C13,13.0147186 15.0147186,11 17.5,11 C19.9852814,11 22,13.0147186 22,15.5 C22,17.9852814 19.9852814,20 17.5,20 Z" fill="#000000"/>
                  </g>
                </svg>
								<!--end::Svg Icon-->
							</span>
							<span class="menu-text">관리자 정보</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="menu-submenu">
							<i class="menu-arrow"></i>
							<ul class="menu-subnav">
								<li class="menu-item menu-item-parent" aria-haspopup="true">
									<span class="menu-link">
										<span class="menu-text">관리자 정보</span>
									</span>
								</li>
                <li class="menu-item" aria-haspopup="true">
									<a href="/admin" class="menu-link">
										<i class="menu-bullet menu-bullet-dot">
											<span></span>
										</i>
										<span class="menu-text">현역 관리자</span>
									</a>
								</li>
								<li class="menu-item" aria-haspopup="true">
									<a href="/admin/quit" class="menu-link">
										<i class="menu-bullet menu-bullet-dot">
											<span></span>
										</i>
										<span class="menu-text">탈퇴 관리자</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
          <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
						<a href="javascript:;" class="menu-link menu-toggle">
							<span class="svg-icon menu-icon">
								<!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Box2.svg-->
								<svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="24px"
                  height="24px"
                  viewBox="0 0 24 24"
                  version="1.1"
                >
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <rect x="0" y="0" width="24" height="24" />
                    <path
                      d="M18,2 L20,2 C21.6568542,2 23,3.34314575 23,5 L23,19 C23,20.6568542 21.6568542,22 20,22 L18,22 L18,2 Z"
                      fill="#000000"
                      opacity="0.3"
                    />
                    <path
                      d="M5,2 L17,2 C18.6568542,2 20,3.34314575 20,5 L20,19 C20,20.6568542 18.6568542,22 17,22 L5,22 C4.44771525,22 4,21.5522847 4,21 L4,3 C4,2.44771525 4.44771525,2 5,2 Z M12,11 C13.1045695,11 14,10.1045695 14,9 C14,7.8954305 13.1045695,7 12,7 C10.8954305,7 10,7.8954305 10,9 C10,10.1045695 10.8954305,11 12,11 Z M7.00036205,16.4995035 C6.98863236,16.6619875 7.26484009,17 7.4041679,17 C11.463736,17 14.5228466,17 16.5815,17 C16.9988413,17 17.0053266,16.6221713 16.9988413,16.5 C16.8360465,13.4332455 14.6506758,12 11.9907452,12 C9.36772908,12 7.21569918,13.5165724 7.00036205,16.4995035 Z"
                      fill="#000000"
                    />
                  </g>
                </svg>
								<!--end::Svg Icon-->
							</span>
							<span class="menu-text">사용자 관리</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="menu-submenu">
							<i class="menu-arrow"></i>
							<ul class="menu-subnav">
								<li class="menu-item menu-item-parent" aria-haspopup="true">
									<span class="menu-link">
										<span class="menu-text">사용자 관리</span>
									</span>
								</li>
                <li class="menu-item" aria-haspopup="true">
									<a href="/user" class="menu-link">
										<i class="menu-bullet menu-bullet-dot">
											<span></span>
										</i>
										<span class="menu-text">현역 사용자</span>
									</a>
								</li>
								<li class="menu-item" aria-haspopup="true">
									<a href="/user/withdraw" class="menu-link">
										<i class="menu-bullet menu-bullet-dot">
											<span></span>
										</i>
										<span class="menu-text">탈퇴 사용자</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
          <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
						<a href="javascript:;" class="menu-link menu-toggle">
							<span class="svg-icon menu-icon">
								<!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Box2.svg-->
								<svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="24px"
                  height="24px"
                  viewBox="0 0 24 24"
                  version="1.1"
                >
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <rect x="0" y="0" width="24" height="24" />
                    <path
                      d="M6.182345,4.09500888 C6.73256296,3.42637697 7.56648864,3 8.5,3 L15.5,3 C16.4330994,3 17.266701,3.42600075 17.8169264,4.09412386 C17.8385143,4.10460774 17.8598828,4.11593789 17.8809917,4.1281251 L22.5900048,6.8468751 C23.0682974,7.12301748 23.2321726,7.73460788 22.9560302,8.21290051 L21.2997802,11.0816097 C21.0236378,11.5599023 20.4120474,11.7237774 19.9337548,11.4476351 L18.5,10.6198563 L18.5,19 C18.5,19.5522847 18.0522847,20 17.5,20 L6.5,20 C5.94771525,20 5.5,19.5522847 5.5,19 L5.5,10.6204852 L4.0673344,11.4476351 C3.58904177,11.7237774 2.97745137,11.5599023 2.70130899,11.0816097 L1.04505899,8.21290051 C0.768916618,7.73460788 0.932791773,7.12301748 1.4110844,6.8468751 L6.12009753,4.1281251 C6.14061376,4.11628005 6.16137525,4.10524462 6.182345,4.09500888 Z"
                      fill="#000000"
                      opacity="0.3"
                    />
                    <path
                      d="M9.85156673,3.2226499 L9.26236944,4.10644584 C9.11517039,4.32724441 9.1661011,4.62457583 9.37839459,4.78379594 L11,6 L10.0353553,12.7525126 C10.0130986,12.9083095 10.0654932,13.0654932 10.1767767,13.1767767 L11.6464466,14.6464466 C11.8417088,14.8417088 12.1582912,14.8417088 12.3535534,14.6464466 L13.8232233,13.1767767 C13.9345068,13.0654932 13.9869014,12.9083095 13.9646447,12.7525126 L13,6 L14.6216054,4.78379594 C14.8338989,4.62457583 14.8848296,4.32724441 14.7376306,4.10644584 L14.1484333,3.2226499 C14.0557004,3.08355057 13.8995847,3 13.7324081,3 L10.2675919,3 C10.1004153,3 9.94429962,3.08355057 9.85156673,3.2226499 Z"
                      fill="#000000"
                    />
                  </g>
                </svg>
								<!--end::Svg Icon-->
							</span>
							<span class="menu-text">매니저 관리</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="menu-submenu">
							<i class="menu-arrow"></i>
							<ul class="menu-subnav">
								<li class="menu-item menu-item-parent" aria-haspopup="true">
									<span class="menu-link">
										<span class="menu-text">매니저 관리</span>
									</span>
								</li>
                <li class="menu-item" aria-haspopup="true">
									<a href="/manager/wait" class="menu-link">
										<i class="menu-bullet menu-bullet-dot">
											<span></span>
										</i>
										<span class="menu-text">승인 대기 매니저</span>
									</a>
								</li>
								<li class="menu-item" aria-haspopup="true">
									<a href="/manager" class="menu-link">
										<i class="menu-bullet menu-bullet-dot">
											<span></span>
										</i>
										<span class="menu-text">현역 매니저</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
          <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
						<a href="javascript:;" class="menu-link menu-toggle">
							<span class="svg-icon menu-icon">
								<!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Box2.svg-->
								<svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="24px"
                  height="24px"
                  viewBox="0 0 24 24"
                  version="1.1"
                >
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <rect x="0" y="0" width="24" height="24" />
                    <rect
                      fill="#000000"
                      opacity="0.3"
                      x="4"
                      y="4"
                      width="8"
                      height="16"
                    />
                    <path
                      d="M6,18 L9,18 C9.66666667,18.1143819 10,18.4477153 10,19 C10,19.5522847 9.66666667,19.8856181 9,20 L4,20 L4,15 C4,14.3333333 4.33333333,14 5,14 C5.66666667,14 6,14.3333333 6,15 L6,18 Z M18,18 L18,15 C18.1143819,14.3333333 18.4477153,14 19,14 C19.5522847,14 19.8856181,14.3333333 20,15 L20,20 L15,20 C14.3333333,20 14,19.6666667 14,19 C14,18.3333333 14.3333333,18 15,18 L18,18 Z M18,6 L15,6 C14.3333333,5.88561808 14,5.55228475 14,5 C14,4.44771525 14.3333333,4.11438192 15,4 L20,4 L20,9 C20,9.66666667 19.6666667,10 19,10 C18.3333333,10 18,9.66666667 18,9 L18,6 Z M6,6 L6,9 C5.88561808,9.66666667 5.55228475,10 5,10 C4.44771525,10 4.11438192,9.66666667 4,9 L4,4 L9,4 C9.66666667,4 10,4.33333333 10,5 C10,5.66666667 9.66666667,6 9,6 L6,6 Z"
                      fill="#000000"
                      fill-rule="nonzero"
                    />
                    공지사항
                  </g>
                </svg>
								<!--end::Svg Icon-->
							</span>
							<span class="menu-text">구장 관리</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="menu-submenu">
							<i class="menu-arrow"></i>
							<ul class="menu-subnav">
                <li class="menu-item" aria-haspopup="true">
									<a href="/stadium/wait" class="menu-link">
										<i class="menu-bullet menu-bullet-dot">
											<span></span>
										</i>
										<span class="menu-text">승인 대기 구장</span>
									</a>
								</li>
                <li class="menu-item" aria-haspopup="true">
									<a href="/stadium" class="menu-link">
										<i class="menu-bullet menu-bullet-dot">
											<span></span>
										</i>
										<span class="menu-text">운영중인 구장</span>
									</a>
								</li>
                <li class="menu-item" aria-haspopup="true">
									<a href="/stadium/idle" class="menu-link">
										<i class="menu-bullet menu-bullet-dot">
											<span></span>
										</i>
										<span class="menu-text">미운영 구장</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
          <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
						<a href="javascript:;" class="menu-link menu-toggle">
							<span class="svg-icon menu-icon">
								<!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Box2.svg-->
								<svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="24px"
                  height="24px"
                  viewBox="0 0 24 24"
                  version="1.1"
                >
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <rect x="0" y="0" width="24" height="24" />
                    <path
                      d="M21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L6,18 C4.34314575,18 3,16.6568542 3,15 L3,6 C3,4.34314575 4.34314575,3 6,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 Z"
                      fill="#000000"
                      opacity="0.3"
                    />
                    <path
                      d="M7.5,12 C6.67157288,12 6,11.3284271 6,10.5 C6,9.67157288 6.67157288,9 7.5,9 C8.32842712,9 9,9.67157288 9,10.5 C9,11.3284271 8.32842712,12 7.5,12 Z M12.5,12 C11.6715729,12 11,11.3284271 11,10.5 C11,9.67157288 11.6715729,9 12.5,9 C13.3284271,9 14,9.67157288 14,10.5 C14,11.3284271 13.3284271,12 12.5,12 Z M17.5,12 C16.6715729,12 16,11.3284271 16,10.5 C16,9.67157288 16.6715729,9 17.5,9 C18.3284271,9 19,9.67157288 19,10.5 C19,11.3284271 18.3284271,12 17.5,12 Z"
                      fill="#000000"
                      opacity="0.3"
                    />
                  </g>
                </svg>
								<!--end::Svg Icon-->
							</span>
							<span class="menu-text">QnA</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="menu-submenu">
							<i class="menu-arrow"></i>
							<ul class="menu-subnav">
								<li class="menu-item menu-item-parent" aria-haspopup="true">
									<span class="menu-link">
										<span class="menu-text">QnA</span>
									</span>
								</li>
                <li class="menu-item" aria-haspopup="true">
									<a href="/qna" class="menu-link">
										<i class="menu-bullet menu-bullet-dot">
											<span></span>
										</i>
										<span class="menu-text">미확인 QnA</span>
									</a>
								</li>
								<li class="menu-item" aria-haspopup="true">
									<a href="/qna" class="menu-link">
										<i class="menu-bullet menu-bullet-dot">
											<span></span>
										</i>
										<span class="menu-text">답변 완료 QnA</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
        </ul>
        <!--end::Menu Nav-->
      </div>
      <!--end::Aside Menu-->
    </div>
    <!--end::Aside-->
    <div class="d-flex flex-column flex-root">
      <!--begin::Page-->
      <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          <!--begin::Header-->
          <div id="kt_header" class="header">
            <!--begin::Container-->
            <div class="container">
              <!--begin::Info-->
              <div
                class="d-flex align-items-center flex-wrap mr-1 mt-5 mt-lg-0"
              >
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                  <!--begin::Page Title-->
                  <h3 class="text-dark font-weight-bold my-1 mr-5">
                    <%= page_title %>
                  </h3>
                  <!--end::Page Title-->
                  <!--begin::Breadcrumb-->
                  <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
              </div>
              <!--end::Info-->
              <!--begin::Topbar-->
              <div class="topbar">
                <!--begin::User-->
                <div class="topbar-item mr-3">
                  <a href="/auth/login">
                    <div
                      class="btn btn-icon btn-bg-white btn-hover-primary btn-icon-primary btn-circle align-items-center overflow-hidden"
                      id="kt_quick_user_toggle"
                    >
                      <img
                        alt="Logo"
                        src="/assets/media/svg/avatars/001-boy.svg"
                        class="h-75 align-self-end"
                      />
                    </div>
                  </a>
                </div>
                <!--end::User-->
              </div>
              <!--end::Topbar-->
            </div>
            <!--end::Container-->
          </div>
          <!--end::Header-->
          <!--begin::Content-->
          <div
            class="content d-flex flex-column flex-column-fluid"
            id="kt_content"
          >
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
              <!--begin::Container-->
              <div class="container">
                <!--begin::Card-->
                <div class="card card-custom">
                  <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                      <h3 class="card-label"><%= sub_title %></h3>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <!--begin::Wizard-->
                    <div
                      class="wizard wizard-4"
                      id="kt_wizard"
                      data-wizard-state="step-first"
                      data-wizard-clickable="false"
                    >
                      <!--begin::Wizard Nav-->
                      <!--end::Wizard Nav-->
                      <!--begin::Card-->
                      <div
                        class="card card-custom card-shadowless rounded-top-0"
                      >
                      <!--  -->
                        <!--begin::Body-->
                        <div class="card-body p-0">
                          <div
                            class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10"
                          >
                            <div class="col-xl-12 col-xxl-10">
                              <!--begin::Wizard Form-->
                              <form
                                class="form"
                                id="kt_form"
                                enctype="multipart/form-data"
                              >
                                <input type="hidden" id="admin_id" name="admin_id">
                                <div class="row justify-content-center">
                                  <div class="col-xl-9">
                                    <!--begin::Wizard Step 1-->
                                    <div
                                      class="my-5 step"
                                      data-wizard-type="step-content"
                                      data-wizard-state="current"
                                    >
                                      <!--begin::Group-->
                                      <!--end::Group-->
                                      <!--begin::Group-->
                                      <!--end::Group-->
                                      <!--begin::Group-->
                                      <!--end::Group-->
                                      <!--begin::Group-->
                                      <div class="form-group">
                                        <label class="col-xl-3 col-lg-3 col-form-label"
                                        style="padding-left: 0px;">탈퇴여부</label>
                                        <div class="col-xl-12 col-lg-12"
                                        style="padding-right: 0px; padding-left: 0px;">
                                          <select id="del_yn" name="del_yn" class="form-control form-control-solid form-control-lg">
                                            <option value="N">N</option>
                                            <option value="Y">Y</option>
                                          </select>
                                        </div>
                                      </div>
                                      <!--end::Group-->
                                      <!--begin::Group-->
                                      <div class="form-group">
                                        <label
                                          class="col-xl-3 col-lg-3 col-form-label"
                                          style="padding-left: 0px;"
                                          >이름</label
                                        >
                                        <div class="col-xl-12 col-lg-12"
                                        style="padding-right: 0px; padding-left: 0px;">
                                          <input
                                            class="form-control form-control-solid form-control-lg"
                                            name="admin_name"
                                            id="admin_name"
                                            type="text"
                                            value=""
                                          />
                                        </div>
                                      </div>
                                      <!--end::Group-->
                                      <!--begin::Group-->
                                      <div class="form-group">
                                        <label class="col-xl-3 col-lg-3 col-form-label" style="padding-left: 0px;">암호</label>
                                        <div class="col-xl-12 col-lg-12" style="padding-right: 0px; padding-left: 0px;">
                                          <!-- 새 비밀번호 입력 필드 (선택 사항) -->
                                          <input
                                            class="form-control form-control-solid form-control-lg"
                                            name="new_password"
                                            id="new_password"
                                            type="text"
                                            placeholder="새 비밀번호"
                                          />
                                        </div>
                                      
                                        <!-- 기존 비밀번호 (hidden으로 유지) -->
                                        <input
                                          type="hidden"
                                          name="login_password"
                                          id="login_password"
                                          value="{{ admin.login_password }}"
                                        />
                                      </div>
                                      
                                      <div class="form-group">
                                        <label
                                          class="col-xl-3 col-lg-3 col-form-label"
                                          style="padding-left: 0px;"
                                          >이메일</label>
                                          <div class="col-xl-12 col-lg-12"
                                          style="padding-right: 0px; padding-left: 0px;">
                                            <input
                                              class="form-control form-control-solid form-control-lg"
                                              name="email"
                                              id="email"
                                              type="text"
                                              value=""
                                            />
                                          </div>
                                      </div>
                                    </div>
                                    <!--end::Group-->
                                    <!--begin::Wizard Step 4-->
                                    <div
                                      class="my-5 step"
                                      data-wizard-type="step-content"
                                    >
                                      <h5
                                        class="mb-10 font-weight-bold text-dark"
                                      >
                                        Review your Details and Submit
                                      </h5>
                                      <!--begin::Item-->
                                      <div class="border-bottom mb-5 pb-5">
                                        <div class="font-weight-bolder mb-3">
                                          Your Account Details:
                                        </div>
                                        <div class="line-height-xl">
                                          John Wick <br />Phone: +61412345678
                                          <br />Email: johnwick@reeves.com
                                        </div>
                                      </div>
                                      <!--end::Item-->
                                      <!--begin::Item-->
                                      <div class="border-bottom mb-5 pb-5">
                                        <div class="font-weight-bolder mb-3">
                                          Your Address Details:
                                        </div>
                                        <div class="line-height-xl">
                                          Address Line 1 <br />Address Line 2
                                          <br />Melbourne 3000, VIC, Australia
                                        </div>
                                      </div>
                                      <!--end::Item-->
                                      <!--begin::Item-->
                                      <div>
                                        <div class="font-weight-bolder">
                                          Payment Details:
                                        </div>
                                        <div class="line-height-xl">
                                          Card Number: xxxx xxxx xxxx 1111
                                          <br />Card Name: John Wick <br />Card
                                          Expiry: 01/21
                                        </div>
                                      </div>
                                      <!--end::Item-->
                                    </div>
                                    <!--end::Wizard Step 4-->
                                    <!--begin::Wizard Actions-->
                                    <div class="d-flex justify-content-end">
                                      <button
                                        type="submit"
                                        id="submit_btn"
                                        class="btn btn-success font-weight-bolder px-10 py-3 ml-3"
                                      >
                                        Submit
                                        <span class="svg-icon svg-icon-md ml-2">
                                          <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Check.svg-->
                                          <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            width="24px"
                                            height="24px"
                                            viewBox="0 0 24 24"
                                            version="1.1"
                                          >
                                            <g
                                              stroke="none"
                                              stroke-width="1"
                                              fill="none"
                                              fill-rule="evenodd"
                                            >
                                              <polygon
                                                points="0 0 24 0 24 24 0 24"
                                              ></polygon>
                                              <path
                                                d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z"
                                                fill="#000000"
                                                fill-rule="nonzero"
                                                transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002)"
                                              ></path>
                                            </g>
                                          </svg>
                                          <!--end::Svg Icon-->
                                        </span>
                                      </button>
                                    </div>
                                    <!--end::Wizard Actions-->
                                  </div>
                                </div>
                              </form>
                              <!--end::Wizard Form-->
                            </div>
                          </div>
                        </div>
                        <!--end::Body-->
                      </div>
                      <!--end::Card-->
                    </div>
                    <!--end::Wizard-->
                  </div>
                </div>
                <!--end::Card-->
              </div>
              <!--end::Container-->
            </div>
            <!--end::Entry-->
          </div>
          <!--end::Content-->
          <!--begin::Footer-->
          <!--end::Footer-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Page-->
    </div>
    <!--end::Main-->
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop">
      <span class="svg-icon">
        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          version="1.1"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect
              fill="#000000"
              opacity="0.3"
              x="11"
              y="10"
              width="2"
              height="10"
              rx="1"
            />
            <path
              d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z"
              fill="#000000"
              fill-rule="nonzero"
            />
          </g>
        </svg>
        <!--end::Svg Icon-->
      </span>
    </div>
    <!--end::Scrolltop-->
    <!--begin::Sticky Toolbar-->
    <!--end::Sticky Toolbar-->
    <!--begin::Demo Panel-->
    <!--end::Demo Panel-->
    <script>
      var HOST_URL = "https://preview.keenthemes.com/keen/theme/tools/preview";
    </script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>
      var KTAppSettings = {
        breakpoints: { sm: 576, md: 768, lg: 992, xl: 1200, xxl: 1200 },
        colors: {
          theme: {
            base: {
              white: "#ffffff",
              primary: "#3699FF",
              secondary: "#E5EAEE",
              success: "#1BC5BD",
              info: "#6993FF",
              warning: "#FFA800",
              danger: "#F64E60",
              light: "#F3F6F9",
              dark: "#212121",
            },
            light: {
              white: "#ffffff",
              primary: "#E1F0FF",
              secondary: "#ECF0F3",
              success: "#C9F7F5",
              info: "#E1E9FF",
              warning: "#FFF4DE",
              danger: "#FFE2E5",
              light: "#F3F6F9",
              dark: "#D6D6E0",
            },
            inverse: {
              white: "#ffffff",
              primary: "#FFFFFF",
              secondary: "#212121",
              success: "#ffffff",
              info: "#ffffff",
              warning: "#ffffff",
              danger: "#ffffff",
              light: "#464E5F",
              dark: "#ffffff",
            },
          },
          gray: {
            "gray-100": "#F3F6F9",
            "gray-200": "#ECF0F3",
            "gray-300": "#E5EAEE",
            "gray-400": "#D6D6E0",
            "gray-500": "#B5B5C3",
            "gray-600": "#80808F",
            "gray-700": "#464E5F",
            "gray-800": "#1B283F",
            "gray-900": "#212121",
          },
        },
        "font-family": "Poppins",
      };
    </script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="assets/js/pages/custom/user/add-user.js"></script>
    <!--end::Page Scripts-->

    <!-- 사용자 정의 javascript -->
    <script>
      /* ejs파라미터를 화면에 뿌려주는 코드 */
      const admin_data = <%- JSON.stringify(data) %>;
      console.log('admin_data: ', admin_data);

      // data가 있을 때만 input들에 값 할당
      if(Object.keys(admin_data).length > 0){
        document.getElementById('admin_id').value = admin_data.id;
        document.getElementById('del_yn').value = admin_data.del_yn;
        document.getElementById('admin_name').value = admin_data.admin_name;
        document.getElementById('login_password').value = admin_data.login_password;
        document.getElementById('email').value = admin_data.email;
      }

      /* form submit 등록/수정 분기 처리 */
      document.getElementById('kt_form').addEventListener('submit', function(event) {
        
        // 기본 제출 동작 예방
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);
        formData.append('requestTable', 'admin');
        // FormData의 내용을 로깅
        for (let [key, value] of formData.entries()) {
            console.log(`${key}: ${value}`);
        }

        let target_url = "";

        // manager_id 유무에 따라 url을 등록/수정 분기하여 요청
        const admin_id = document.getElementById('admin_id').value;
        if(admin_id){
          target_url = `http://127.0.0.1:7070/admin/edit/${admin_id}`
        }else{
          target_url = `http://127.0.0.1:7070/admin/regist`
        }
        console.log('target_url: ', target_url)
        fetch(target_url, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
          console.log('response data: ', data);
          // status : true 응답일 때
          if(data.status) location.href = `${data.url}`
          // status : false 응답일 때
          else alert('예외가 발생했습니다!\n'+data.error)
        })
        .catch(error => console.error('Error:', error));
      });


    </script>
  </body>
  <!--end::Body-->
</html>